@use "sass:math";


* {
  box-sizing: border-box;;
}


$columns: 12; // tady si nastavuje počet sloupců, do kterých se grid dělí - default je 12, ale můžeš si nastavit kolik chceš
$column-base-width: math.div(100%, $columns);
$gutter: 30px; // mezera mezi sloupci

.container {
  max-width: 1000px;
  margin-inline: auto; // vycentrování kontejneru
}

.row {
  display: flex;
  flex-wrap: wrap; // aby se případně sloupec, který je tam navíc, posunul dolů na další řádek
}

[class*=col-] { // vyber všechny prvky, které mají třídu obsahující col-
  border: 5px solid blue;
  width: 100%;
  padding-inline: math.div($gutter, 2); // padding na levé a pravé straně sloupce
}

@media (min-width: 800px) { // určím, od jaké velikosti se mají sloupce vytvořit, na menším displeji budou mít šířku 100% šířky okna a budou pod sebou
  @for $i from 1 through $columns {
    
    .col-#{$i} {
      width: math.div($i * $column-base-width, 1);
    }
  }
}